/* Load fonts */
@font-face {
  font-family: "Urbanist-Black";
  src: url("../assets/fonts/urbanist/Urbanist-Black.ttf");
}

@font-face {
  font-family: "Urbanist-Bold";
  src: url("../assets/fonts/urbanist/Urbanist-Bold.ttf");
}

@font-face {
  font-family: "Urbanist-Medium";
  src: url("../assets/fonts/urbanist/Urbanist-Medium.ttf");
}

@font-face {
  font-family: "Urbanist-Regular";
  src: url("../assets/fonts/urbanist/Urbanist-Regular.ttf");
}

@font-face {
  font-family: "Urbanist-Thin";
  src: url("../assets/fonts/urbanist/Urbanist-Thin.ttf");
}

@font-face {
  font-family: "Urbanist-Light";
  src: url("../assets/fonts/urbanist/Urbanist-Light.ttf");
}

@font-face {
  font-family: "JetBrains-Regular";
  src: url("../assets/fonts/jetbrains/JetBrains-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Urbanist-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist-Bold";
}

.nextra-code-block,
.nextra-code-block code {
  font-family: "JetBrains-Regular" !important;
}

.hero-section {
  min-height: 500px;
}

@media screen and (max-width: 767px) {
  .hero-section {
    min-height: 600px;
  }
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}